@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./assets/what.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(242, 45, 6); */
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}